{% extends "posts/base.html" %}
{% block head_extra %}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<meta content="notranslate" name="google"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      rel="stylesheet"/>
<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed|Open+Sans:400,300,700|Yesteryear" rel="stylesheet"
      type="text/css"/>
{% endblock head_extra %}

{% block content %}
{% load crispy_forms_tags %}
<div id="wrapper">
    <!-- end #header -->
    <div id="page">
        <div id="page-bgtop">
            <div id="page-bgbtm">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-20 card mb-4  mt-3 left  top">
                            <div class="card-body">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h3 class="card-title">{{ comment.user.get_full_name}}</h3>
                                        <p class="card-text text-muted h6">{{ comment.timestamp }} ago</p>
                                        <p class="card-text">{{ comment.content }}</p>
                                        <footer>{% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} {% endif %} {% if request.user == comment.user %}<a href='{{comment.get_delete_url}}'>Delete</a> {% endif %}</footer>
                                        <hr/>
                                        <div>
                                            {% for child_comment in comment.children %}
                                            <div class="alert alert-primary" role="alert">
                                                <h4 class="card-title">{{ child_comment.user.get_full_name}}</h4>
                                                <p class="card-text text-muted h6">{{ child_comment.timestamp }} ago</p>
                                                <p class="card-text">{{ child_comment.content }}</p>
                                                <footer>{% if request.user == child_comment.user %}<a
                                                        href='{{ child_comment.get_delete_url }}'>Delete</a>{% endif %}
                                                </footer>
                                            </div>
                                            <hr/>
                                            {% endfor %}
                                            {% if request.user.is_authenticated %}
                                            <form action="" method="POST"> {% csrf_token %}
                                                {{ form|crispy }}
                                                <input name='parent_id' type='hidden' value='{{ comment.id }}'>
                                                <input class='btn btn-default' type='submit' value='Reply'>
                                            </form>
                                            {% else %}
                                            <p>You must login to comment </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}