{% extends "posts/base.html" %} 

{% block head_extra %}

{{ form.media }}

{% endblock head_extra %}

{% block content %}
{% load crispy_forms_tags %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-13 col-md-14 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to Blog </h3>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
        <h1> Create Post</h1>
        <form method="post" class="uniForm" action="" enctype="multipart/form-data">
        {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Create Post"/>
        </form>
        </div>
        {% block sidebar %} {% include 'posts/sidebar.html' %} {% endblock sidebar %}
    </div>
</div>

{%endblock%}