{% extends "posts/base.html" %}
{% block head_extra %}
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<meta content="notranslate" name="google"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      rel="stylesheet"/>
<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed|Open+Sans:400,300,700|Yesteryear" rel="stylesheet"
      type="text/css"/>
{% endblock head_extra %}

{% block content %}
<div id="wrapper">
    <!-- end #header -->
    <div id="page">
        <div id="page-bgtop">
            <div id="page-bgbtm">
                <!--                start content-->
                {% load crispy_forms_tags %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-20 card mb-4  mt-3 left  top">
                            <div class="card-body">
                                <p class="h1">{% block head_title %}{{query.title}}{% endblock head_title %}</p>
                                <em><strong><p>Read time: {% if query.read_time <= 1 %} < 1 Minute {% else %}{{
                                    query.read_time }} minutes {% endif %}| Views: {{ query.views_count }}</p></strong></em>
                                {% if query.image %}
                                <img height="400" src='{{ query.image.url }}' width="850"/>
                                {% endif %}
                                <p>
                                    {% if query.draft%}
                                    <span style='color:red;'>Draft</span>
                                    {% endif %}
                                </p>
                                <div class='post-detail-item'>{{ query.get_markdown }}</div>
                                {% if query.user.get_full_name %}
                                <strong><p class=" text-muted">Author: {{ query.user.get_full_name }} | {{ query.publish }}</p></strong>
                                {% endif %}

                                <hr/>
                                <p class='lead'>Comments</p>
                                {% if request.user.is_authenticated %}
                                <form action="" method="POST"> {% csrf_token %}
                                    <p>{{ comment_form | crispy }}</p>
                                    <input class='btn btn-default' type='submit' value='Post comment'>
                                </form>
                                {% else %}
                                <p>You must login to comment </p>
                                {% endif %}
                                <hr/>

                                {% for comment in comments %}
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h3 class="card-title">{{ comment.user.get_full_name}}</h3>
                                        <p class="card-text text-muted h6">{{ comment.timestamp}} </p>
                                        <p class="card-text">{{ comment.content }}</p>

                                        <footer>{% if comment.children.count > 0 %}{{ comment.children.count }}
                                            Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %} <a
                                                    class='comment-reply-btn' href='#'>Reply</a> | <a class=''
                                                                                                      href='{{ comment.get_absolute_url }}'>Thread</a>
                                        </footer>
                                        <div class='comment-reply' style='display:none;'>
                                            {% for child_comment in comment.children %}
                                            <div class="alert alert-primary" role="alert">
                                                <p>{{ child_comment.content }}</p>
                                                <footer>via {{ child_comment.user.get_full_name }} | {{
                                                    child_comment.timestamp|timesince }} ago
                                                </footer>
                                            </div>
                                            <hr/>
                                            {% endfor %}
                                            {% if request.user.is_authenticated %}
                                            <form action="" method="POST"> {% csrf_token %}
                                                {{ comment_form }}
                                                <input name='parent_id' type='hidden' value='{{ comment.id }}'>
                                                <input class='btn btn-default' type='submit' value='Reply'>
                                            </form>
                                            {% else %}
                                            <p>You must login to comment </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>
</div>
<!-- end #page -->
</div>

{% endblock content %}