{% extends "posts/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Created by: Abhishek Sahu </h3>
                    <h3 class="card-title">Email: abhisheksahu92@outlook.com </h3>
                    <p>Follow US on <a class="card-text" href="https://github.com/abhisheksahu92">Github</a>
                    <a class="card-text" href="https://www.linkedin.com/in/namabhi1207/">LinkedIn</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
