{% extends "posts/base.html" %}
{% block content %}
{% load static %}

<!-- Search form -->
            <div class="row tm-row">
                <div class="col-10">
                    <form method="GET" action="#" class="form-inline tm-mb-80 tm-search-form">
                        <input class="form-control tm-search-input" name="q" type="text" placeholder="Search..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="row tm-row">
                {% for post in queryset %}
                    <article class="col-12 col-md-6 tm-post">
                        <hr class="tm-hr-primary">
                        <a href="{{ post.get_absolute_url }}" class="effect-lily tm-post-link tm-pt-20">
                            <div class="tm-post-link-inner">
                                {% if post.image %}
                                <img src="{{ post.image.url }}" alt="Image" width="500" height="300">
                                {% else %}
                                <img src="{% static 'img/img-05.jpg' %}" alt="Image" width="500" height="300">
                                {% endif %}
                            </div>
                            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{ post.title }}</h2>
                        </a>
                        <p class="tm-pt-30">
                            {{ post.get_markdown | truncatechars_html:200 }}
                        </p>

                        <div class="d-flex justify-content-between tm-pt-45">
                            <span class="tm-color-primary">{{ post.category|title }}</span>
                            <span class="tm-color-primary">{{ post.publish }}</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <span>Views: {{ post.views_count }}</span>
                            <span>{{post.user.get_full_name}}</span>
                        </div>
                    </article>
                {% endfor %}
            </div>
            <div class="row tm-row">
                <div class="col-md-6 col-12">
                    {% if queryset.has_previous %}
                    <a href="?{{ page_request_var }}={{ queryset.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="mb-2 tm-btn tm-btn-primary tm-prev-next tm-mr-20">Prev</a>
                    {% endif %}
                    <strong><span class="current">Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}</span></strong>
                    {% if queryset.has_next %}
                    <a href="?{{ page_request_var }}={{ queryset.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
                    {% endif %}
                </div>
            </div>


{% endblock content %}